$border: 4px solid;

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Raleway", Arial, sans-serif;
}

.container{
    // border: 2px solid red;
    height: 100%;
    width: 1024px;
    margin: 0 auto;
}

.position {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#header {
    // background-color: black;
    background-image: url("https://media.giphy.com/media/IuKnqFMhtcA2A/giphy.gif");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    .header-content {
        text-align: center;
        margin-top: 40vh;
        h1 {
            color: white;
            border: $border white;
        }
        p {
            margin-top: 50px;
            color: white;
            width: 500px;
        }
    }
}

#section {
    background-color: white;
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
    .section-content {
        text-align: center;
        margin-top: 20px;
        h2 {
            color: black;
            font-size: 30px;
            border: $border black;
            padding: 10px;
        }

    }
}

#second-section {
    background-image: url("https://cdn.pixabay.com/photo/2013/11/15/02/05/dramatic-sky-210776_960_720.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    .about {
        margin-left: 20px;
        padding-top: 40px;
        width: 500px;
        color: white;
        display: block;
        h3 {
            padding: 10px;
            text-align: center;
            font-size: 30px;
            border: $border white;
        }
        p {
            margin-top: 20px;
            width: 500px;
        }
    }
}

#footer {
    background-color: black;
    width: 100%;
    height: 100px;
}
